{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Developer logs</h1>
    </div>
    <div class="col">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search for a log"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Developer</th>
            <th scope="col">Project</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Entry time</th>
            <th scope="col">Time worked</th>
            <th scope="col">Repo</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for log in logs %}
          <tr>
            <th scope="row">{{ log[0] }}</th>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
            <td>{{ log[4] }}</td>
            <td>{{ log[5] }}</td>
            <td>{{ log[6] }}</td>
            <td><a href="{{ log[7] }}" target="_blank">View</a></td>
            <td>{{ log[8] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <a href="/form.html" class="btn btn-primary mb-3">Add a log</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
